extends layout

block content
    script(src="/javascripts/adminPanel.js")
    #modal1.modal
        .modal-content.center-align.black-text
            h4 Are you sure you wish to logout?
            a.modal-close.btn.red(href='/logout') Logout
            | &nbsp
            a.modal-close.btn.green(href='#!') Cancel
    nav
        .container
            .nav-wrapper
                a.brand-logo(href='/dashboard') Twitter Fam
                ul#nav-mobile.right.hide-on-med-and-down
                    li
                        a(href='/dashboard') Home
                    li
                        a.modal-trigger(data-target='modal1') Logout
    section
        .container
            .row
                .col.xl12
                    h1 Admin Panel
    section
        .container
            .row
                .col.xl12
                    table.centered.highlight
                        thead
                            tr
                                th id
                                th Username
                                th Email
                                th Admin
                        tbody
                            for x in users
                                tr
                                    td=x._id
                                    td=x.username
                                    td=x.email
                                    td
                                        .switch
                                            label
                                                input.adminSwitch(type='checkbox' data-target=x._id data-admin="#{x.isAdmin}")
                                                span.lever
                                    td
                                        a(id=x._id).deleteLink Delete User
                            